/* ESTILO DE TODO EL HTML */
*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    font-size: 20px;
}
/**************************************************************************/


/* ESTILOS GENERALES DEL ENCABEZADO */
header {
    margin: 0 auto;
    text-align: center;
}


/* Estilo del titulo (h1) del encabezado */
header h1 {
    color: #0081A7; 
    font-size: 36px;
    text-align: center;
}
/**************************************************************************/


/* ESTILOS GENERALES DEL CUERPO*/
body {
    color: #3c3b3b;
    text-align: justify;
    background-color: #ffffff;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
}

/* Estilos para los títulos (h2) del cuerpo */
body h2{
    color: #0081A7; 
    font-size: 26px;
    text-align: left;
}
/**************************************************************************/


/* ESTILOS GENERALES PARA EL MENÚ */
.menu {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: #f5f5f5;
}

.menu li {
    position: relative;
}

.menu a {
    text-decoration: none;
    color: #0081A7;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #FED9B7;
}

.dropdown:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f5f5f5;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
}

.submenu li {
    width: 100%;
}

.submenu a {
    padding: 10px 20px;
}

.dropdown > a::after {
    margin-left: 5px;
}

/* Estilos para el menú principal */
.menu > li {
    position: relative;
}

/* Estilos para el submenú */
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f5f5f5;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    z-index: 1;
}

.submenu li {
    width: 100%;
}

.submenu a {
    padding: 10px 20px;
    display: block;
}

.submenu a:hover {
    background-color: #FED9B7;
}
/**************************************************************************/


/* Estilos para el enlace */
a {
    color: #00AFB9; 
    text-decoration: none;
}

/* Estilos para el enlace cuando el mouse está arriba */
a:hover {
    color: #F07167;
    text-decoration: underline;
}

/* Estilo para lista desordenada */
ul {
    list-style: square;
}
/**************************************************************************/


/* ESTILOS PARA LA CALCULADORA */
.calculadora {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    background-color: #f5f5f5; 
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100px;
}

/* Estilos para id del botón de la calculadora */
#calcular {
    margin: 10px;
    padding: 10px 80px;
    background: linear-gradient(45deg, #ff1b6b, #45caff);
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
}

/* Estilos para el id del botón de la calculadora cuando el mouse está arriba */
#calcular:hover {
    background-color: #e29543; 
}
/**************************************************************************/


/* ESTILOS GENERALES PARA LAS IMAGENES */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}
/**************************************************************************/


/* ESTILO GENERAL PARA LA TABLA */
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    border-style: solid;
    background-color: rgb(236, 233, 233);
    padding: 2%;
    width: 30%;
    margin: 0 auto;
}

/* Estilos para los encabezados de las celdas de la tabla */
th {
    background-color: #00AFB9;
    color: white;
}

/* Estilos para las filas de celdas de la tabla cuando el mouse está arriba*/
tr:hover {
    background-color: #32c2c2;
}
/**************************************************************************/


/* ESTILOS GENERALES PARA FOOTER */
footer{
    background-color: #FED9B7;
    padding: 0;
    
}

/* Estilo para los titulos (h3) del footer */
footer h3 {
    font-size: 25px;
    margin-bottom: 10px;
    color: #F07167; 
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Estilo para los parrafos del footer */
footer p {
    margin: 5px 0;
    text-align: center;
    color: #F07167;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

/* Estilo para las palabras importantes del footer */
footer strong {
    font-weight: bold;
    color: #F07167; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

/* Estilo para los enlaces del footer */
footer a {
    color: #0081A7; 
    text-decoration: none;
    transition: color 0.3s;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

/* Estilo para los enlaces del footer cuando el mouse está arriba */
footer a:hover {
    color: #00AFB9;
    text-decoration: underline;
}
/**************************************************************************/


/* Estilos para el modo claro
body.modo-claro {
    background-color: #ffffff;
    color: #3c3b3b;
}

/* Estilos para el modo oscuro 
body.modo-oscuro {
    background-color: #000000;
    color: #d7d4d4;
}

/* Estilo para el interruptor 
.modo-oscuro {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
} 
*/